/*
Bauhaus Theme
Created by Roan Lavery
18/02/08 */

/*=========================== TYPOGRAPHY =========================*/

#invoice p,
#invoice h2,
#invoice h3 {
  margin: 0;
}

#invoice {
  color: #000;
  font-family: Helvetica, Arial,  sans-serif;
  line-height: 1.3;
}

#invoice h1 {
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

#invoice h2,
#invoice h3 {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-top: 10px;
  text-transform: none;
  white-space: normal;
}

#invoice h2 {
  font-size: 11pt;
}

#company-address,
#client-details,
#payment-details,
#invoice-other,
#invoice-amount td,
th,
#invoice-info {
  font-size: 10pt;
}

#invoice #invoice-info h3 {
  font-size: 11pt;
  margin: 3px 0 0 0;
}

#invoice #invoice-info h2 {
  font-size: 14pt;
  margin-bottom: 0;
  text-transform: uppercase;
}

#invoice #invoice-terms h2 {
  margin-bottom: 3px;
}

#invoice #invoice-terms h3 {
  color: #666;
  font-size: 9pt;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 0;
}

#invoice #payment-due {
  color: #999;
  font-size: 10pt;
  font-weight: bold;
  line-height: 1.3;
}

#invoice-info #payment-total {
  display: none;
}

#invoice-other h2,
#payment-details h2 {
  margin-bottom: 1em;
}

#invoice .total {
  font-size: 12pt;
}

#comments {
  color: #999;
  font-size: 10pt;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 15px;
}

/*=========================== LAYOUT =========================*/

#invoice {
  border-top: 5px solid #000;
  padding: 0 1cm 1cm 1cm;
}

#invoice-header #company-address {
  clear: right;
  float: right;
  width: 250px;
}

#invoice-header h1 {
  color: #000;
  float: left;
  margin: 5px 0 0 0;
  width: 350px;
}

#invoice-header {
  padding-top: 1cm;
}

#invoice-header .logo {
  float: left;
}

#invoice-blank-header {
  margin-top: 1.6cm;
}

#client-details {
  border-top: 1px solid #ddd;
  border-top: 1px solid #ddd;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  width: 330px;
}

#invoice-info {
  border-top: 1px solid #ddd;
  clear: both;
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 250px;
}

#invoice-info th {
  text-align: right;
}

#payment-terms {
  display: none;
}

#invoice-amount {
  clear: both;
  margin: 2em 0 2em 0;
}

#payment-details {
  border-top: 1px solid #ddd;
  float: left;
  width: 330px;
}

#invoice-other {
  border-top: 1px solid #ddd;
  clear: both;
  float: right;
  width: 270px;
}

#comments {
  clear: both;
  padding-top: 1cm;
}

/*=========================== INVOICE AMOUNT TABLE =========================*/

#invoice table {
  border-collapse: collapse;
  clear: both;
  width: 100%;
}

#invoice table th {
  padding: 6px 5px;
  text-align: left;
}

#invoice #header_row {
  background: #000;
  color: #fff;
}

#invoice-amount td.action {
  border-bottom: 0;
}

.odd td {
  background: #F4F4F4;
}

.even td {
  background: #FFF;
}

#invoice-amount .discount_tier td {
  font-size: 1em;
  font-weight: bold;
  padding-top: 20px;
}

#invoice-amount #total_tr td {
  border-bottom: 0;
}

#invoice-amount #vat_tr td {
  border-bottom: 1px solid #000;
}

#invoice-amount td {
  border-bottom: 1px solid #ddd;
  margin: 0;
  white-space: nowrap;
}

#invoice-amount td {
  margin: 0;
  padding: 6px 5px;
}

#invoice-amount td.item_r {
  text-align: right;
}

#invoice-amount td.item_l {
  text-align: left;
  white-space: normal;
}

#invoice-amount td.total {
  font-weight: bold;
  text-align: right;
}

#invoice-amount .details_th {
  width: 44%;
}

#invoice-amount .details_notax_th {
  width: 52%;
}

#invoice-amount .quantity_th {
  width: 13%;
}

#invoice-amount .subtotal_th {
  text-align: right;
  width: 18%;
}

#invoice-amount .unitprice_th {
  text-align: right;
  width: 17%;
}

#invoice-amount .salestax_th {
  text-align: center;
  width: 8%;
}

#invoice-amount th.money_th {
  text-align: right;
}

/* Invoice UK VAT Summary Table */
#invoice #invoice-uk-vat-summary {
  background: #fff;
  border-collapse: collapse;
  border: 0;
  clear: both;
  margin: 25px 0 0 0;
  width: 100%;
}

#invoice tr#invoice-uk-vat-header th {
  border-top: 1px solid #ccc;
  padding: 7px 0;
}

#invoice-uk-vat-summary td,
#invoice #invoice-uk-vat-summary th {
  font-size: 9pt;
  padding: 2px 0;
  text-align: left;
}

#vat-total td,
#vat-total th {
  border-top: 1px solid #ccc;
}
